useDynLib("DyaDA")
export(block.SRM.between.groups.tTest,block.SRM.dyadic.reciprocity,
       block.SRM.dyadic.reciprocity.tTest,block.SRM.effects,
       block.SRM.generalized.reciprocity,block.SRM.jackknife,
       block.SRM.relative.variances,block.SRM.reliability,
       block.SRM.variances,categorical.distinguishable.dyad,
       categorical.indistinguishable.dyad,dietzRtest,distinguishable.dyad,
       freq2abil,getcirc,getdc,getdelta,getDS,getepsilon,getexpeccirc,
       getexpech,getexpecR,getexpecZ,
       getimplandau,getkappa,getkendall,getKr,getlambda,getlambdaj,
       getlandau,getmaxcirc,getnu,getnuj,getomega,getonewayrel,getpartialZr,
       getpartialRr,getpartialKr,getpearson,getphi,getphii,getPHIij,getphij,
       getPHIr,getPHIrexpec,getphirmat,getPHIrSE,
       getpsi,getratiolambda,getrationu,
       getpvkendall,getR,getRr,getsignificant,getSER,getSEZ,getspearman,
       gettaukendall,gettied,gettwowayrel,getunknown,getvarh,
       getwinloss,getZ,getZr,ISI.method,indistinguishable.dyad,
       linear.hierarchy.test,mantelZtest,pairwise.correlation,
       prepare.SRM.matrix, prepare.block.matrix,reciptest1,
       reciptest2,rowwiseKrtest,rowwiseRrtest,rowwiseZrtest,SRM.between.groups.tTest,
       SRM.dyadic.covariance.Ftest,SRM.dyadic.reciprocity,SRM.effects,
       SRM.generalized.reciprocity,SRM.jackknife,SRM.relative.variances,
       SRM.reliability,SRM.variances,SRM.within.groups.tTest)

S3method (print,hlineartest)
S3method (plot,sigdyads)
S3method (print,isi)
S3method (print,dyadr)
S3method (print,dyadicc)
S3method (print,rp)
S3method (print,dyadkappa)
S3method (print,dyadkappa2)
S3method (print,srmRREffects)
S3method (print,srmRRVars)
S3method (print,srmRRrelVars)
S3method (print,srmCovFTest)
S3method (print,srmWithintTest)
S3method (print,reciptest1)
S3method (print,reciptest2)